@using SurveyWeb.Models
@using DataAccessLayer.Enums
@model HomeViewModel
@{
    var surveyQuestions = Model.SurveyQuestions;
    var survey = Model.Survey;
}

<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <title>@survey.Name</title>
    <link href="Assets/Site.css" rel="stylesheet">
</head>

<body>
    @if (TempData["Success"] != null)
    {
        <div class="green">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
    }
    else
    {
    <form action="SurveyResponse" id="ctl01" method="post" name="ctl01">
        <header>
            <div class="content-wrapper">
                <div>
                    <p>
                        <a href="/" id="A2">
                            <img id="Logo"
                                 src="Assets/Survey1.jpg" style="border-style: None;">
                        </a>
                    </p>
                    <hgroup>
                        <input type="hidden" id="FormSurveyId" name="FormSurveyId" value="@survey.SurveyId"></input>
                        <h1>@survey.Name</h1>
                    </hgroup>
                </div>
            </div>
        </header>
        <div id="body">
            <div class="content-wrapper">

                <table>
                    <tr>
                        @if (surveyQuestions != null)
                        {
                            <h1>Survey Questions</h1>
                            <td style="width: 50%;">
                                <div style="margin-left: 2em">
                                    @if (surveyQuestions.Any())
                                    {

                                        <table>
                                            @foreach (var question in surveyQuestions)
                                            {

                                                <tr>
                                                    <input type="hidden" id="FormQuestionResponse" name="FormQuestionResponse"></input>
                                                    <input type="hidden" id="FormQuestionId" name="FormQuestionId" value="@question.QuestionId"></input>
                                                    <td>
                                                        @question.Question
                                                    </td>
                                                    @if (question.QuestionTypeId == (int)QuestionType.SingleAnswer)
                                                    {
                                                        foreach (var option in question.SurveyAnswerOptions)
                                                        {
                                                            <td>
                                                                <input type="radio" name=@question.QuestionId Id=@option.AnswerId value=@option.AnswerId>
                                                                <label for=@option.AnswerId>@option.Text</label>
                                                            </td>
                                                        }
                                                    }
                                                    else if (question.QuestionTypeId == (int)QuestionType.Date)
                                                    {
                                                        <td colspan="4">
                                                            <input type="date" name=@question.QuestionId Id=@question.QuestionId value="">
                                                        </td>
                                                    }
                                                    else if (question.QuestionTypeId == (int)QuestionType.Text)
                                                    {
                                                        <td colspan="4">
                                                            <input class="textarea" type="text" name=@question.QuestionId Id=@question.QuestionId value="">
                                                        </td>
                                                    }
                                                    else if (question.QuestionTypeId == (int)QuestionType.Email)
                                                    {
                                                        <td colspan="4">
                                                            <input type="email" name=@question.QuestionId Id=@question.QuestionId value="">
                                                        </td>
                                                    }
                                                    else if (question.QuestionTypeId == (int)QuestionType.MultipleChoice)
                                                    {
                                                        foreach (var option in question.SurveyAnswerOptions)
                                                        {

                                                            <td>
                                                                <input type="checkbox" name=@question.QuestionId Id=@option.AnswerId value=@option.AnswerId>
                                                                <label for=@option.AnswerId>@option.Text</label>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }

                                        </table>

                                    }
                                </div>
                            </td>
                        }
                    </tr>
                </table>

            </div>
            <div>
                <input type="submit" id="btn_click" value="Submit Survey" />
                <div id="surveySubmitError" style="margin-left: 3%;color: red;display: none">Some error occured</div>
                <div id="surveySubmitSuccess" style="margin-left: 3%;color: red;display: none">Response Submitted Succesfully</div>
            </div>
        </div>
    </form>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;
            $("input[type='date']")[0].max = today;
        });
    </script>
</body>
</html>

